* {
    font-size: 20pz
}

html {
    font-size: 16px;
    font-family:"Roboto";
}

#navbar {
    padding: 4px;
    margin: 0;
}
#logo{
    height: 30px;
}

h1 {
    text-align: center;
    width: 100%;
    margin:0 auto;
}

#banner {
    object-fit: cover;  
}

#about {
    display: flex;
    max-width: 800px;
    margin: 0 auto;
    padding: 8px;
}

#description {
    width: 50%;
    padding: 0 8px;
}

#team {
    width: 50%;
}

#team-image{
    border-radius: 5px;
    width: 100%;
}

h2 {
    text-align: center;
}

#job-table {
    width: 100%;
    border: 1px solid grey;
    border-collapse: collapse;
}

.job-header-row th {
    border: 1px solid grey;
    padding: 8px;
    background-color: aliceblue;
    text-align: center;
}

.job-header-row td {
    border: 1px solid grey;
    padding: 8px;
}

#jobs {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 8px;
}

h3 {
    margin-bottom: 0;
    margin-top: 0;
}

.location {
    color: grey;
    margin-bottom: 16px;
}

.apply {
    float: right
}
 #application{
    max-width: 800px;
    margin:0 auto;
    padding:0 8px;
 }
 #application-form div{
    margin:16px;
 }

 #application-form label{
    font-weight: 600;
 }

 #application-form input,select,textarea{
    padding:8px;
    font-size: 0.875rem;
    margin-top:4px;
    border-radius: 5px;
    border:1px solid gray;
 }
 .form-group textarea{
    width: 80%;
    font-family: "Roboto",sans-serif;
 }
 .font-group input[type="checkbox"]{
    width:16px;
    height:16px;
 }
 .form-group input[type="submit"]{
    background-color: rgb(5, 144, 199);
    color: white;
    font-weight: 500;
    cursor: pointer;
 }
a {
    text-decoration: none;
}

#footer {
    background-color: rgb(203, 203, 209);
    margin-top: 32px;
    padding: 8px;
    text-align: center;
}

#footer-links {
    list-style: none;
}

#footer-links li {
    display: inline;
    margin: 0 16px;
}

.copyright {
    color: grey font-size:0.875rem;
}